// Variables
$red:   #cc2eaa;
$green: #67d591;
$white: #ffffff;
$black: #25262d;
$reviewBlack: #373742;

$blue: #071fc8;
$blue-light: #38A1F3;
$greenAccent: #22ae57;

//Color for design
$coral: #E85D63;
$sunrise: #FCB23B;
$denim: #001231;
$gray: #414141;
$salmon: #F36E58;
$pumpkin: #F58648;
$amber: #F8983E;
$lightgray:#e5e7ea;
$yellow: #FCB13A;
$yellow-light: #f2ac45;
$orange: #dc5861;
